html{padding: 1em 13vw 5em 53vh}
h1,p{
    color:black;
}
nav{
    margin-bottom:15vh;
    font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 1em;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
nav .zone{position:fixed;}
nav .street{
    position:fixed;
    justify-self: center;
}
nav .home{
    position:fixed;
    text-decoration: underline 2px red;
justify-self: end;}
nav a:visited{
    color:red;
}

.http{position: fixed;
    top:0px;
    left:0px;
    font-family: "enra-sans-variable",sans-serif;
        font-variation-settings: 'wght' 100;
        font-size: 8em;
}

.container{
    font-family: "enra-sans-variable",sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: aut repeat(12, 1fr);

    grid-column-gap: 2em;
    grid-row-gap: 2em;
}   
    .container h1 { 
        font-family: "balboa", sans-serif;
font-weight: 700;
        font-size: 5.2em;
        letter-spacing: .03em;
        line-height: 1.25em;
     }
            
            .container h1 { grid-area: 1 / 1 / 2 / 5; }

    .container .texts { 
        text-indent: 2em;
        margin:0px;
        font-size: 1.5em;
        font-variation-settings: "wght" 400;
        line-height: 1.4em;
        grid-column:1/4;
    }

    .container .sidenotes { 
        margin:0px;
        font-size: 0.9em;
        font-variation-settings: "wght" 400;
        font-style: italic;
        line-height: 1.2em;
        grid-column:4/5;
 
    }
    .s1{
        grid-row:3/4;
    }
    .s2{
        grid-row:5/6;
    }
    .s4{grid-row: 5/6;
    }
    .s7{grid-row: 8/9;
    }
    .s9{grid-row: 10/11;
    }
h1{font-size: 38px;
    font-variation-settings: 'wght' 600;
line-height: 38px;}

h2{font-size: 32px;
    font-variation-settings: 'wght' 400;}
    
p{font-size: 24px;
    font-variation-settings: 'wght' 100;}
p a{color:red; position: relative}
p a:hover:after{
    content: url(img/bedbug.gif); /* no need for qoutes */
    position: absolute;
    top: 0;
    z-index: -1;
}

.justified{
    text-align: justify;
    word-spacing: normal;
}

.sidenotes img{
    width:100%;
    max-height:100%;
}

.references p {
    font-size: 15px;
    color:rgb(165, 165, 165);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}